@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}

.w {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    line-height: 31px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.register {
    color: red;
    margin-left: 10px;
}

.shortcut .w .fr ul li {
    float: left;
}

.shortcut .w .fr ul li:nth-child(2n) {
    float: left;
    width: 0;
    border: 1px solid rgba(0, 0, 0, .3);
    height: 12px;
    margin: 9px 14px;
}

.shortcut .w .fr ul .font-icon::after {
    margin-left: 10px;
    content: "\e91e";
    font-family: 'icomoon';
}

.header {
    position: relative;
    height: 105px;
    /* background-color: aqua; */
}

.header .logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 171px;
    height: 61px;
}

.header .logo h1 a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../logo.png) no-repeat;
    font-size: 0;
}

.header .search {
    position: absolute;
    top: 25px;
    left: 348px;
    width: 538px;
    height: 36px;
    border: 1px solid red;
}

.header .search input[type="search"] {
    float: left;
    padding-left: 10px;
    width: 454px;
    height: 32px;
}

.header .search input[type="submit"] {
    float: right;
    width: 82px;
    height: 34px;
    background-color: red;
    font-size: 16px;
    color: white;
}

.header .hot {
    position: absolute;
    bottom: 15px;
    left: 348px;
}

.header .hot li {
    float: left;
    margin-left: 25px;
}

.header .hot li .first-a {
    color: red;
}

.header .count {
    position: absolute;
    top: 25px;
    right: 62px;
    width: 140px;
    height: 31px;
    background-color: #f7f7f7;
    font-size: 12px;
    text-align: center;
    line-height: 31px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
}

.header .count::before {
    content: "\e93a";
    font-family: 'icomoon';
    margin-right: 5px;
    color: red;
}

.header .count::after {
    position: absolute;
    top: 1px;
    right: 13px;
    content: "\e920";
    font-family: 'icomoon';
}

.header .count .num {
    position: absolute;
    top: -4px;
    left: 105px;
    width: 16px;
    height: 13px;
    background-color: red;
    border-radius: 8px 8px 8px 0;
    line-height: 13px;
    text-align: center;
    color: white;
}

.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.nav .w .dropdown {
    float: left;
    width: 209px;
    height: 45px;
    background-color: #b1191a;
}

.nav .w .dropdown .dt {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}

.nav .w .dropdown .dd {
    display: none;
    width: 209px;
    height: 466px;
    background-color: #c81623;
}

.nav .w .dropdown .dd li {
    position: relative;
    margin-left: 1px;
    padding-left: 12px;
    height: 31px;
    font-size: 14px;
    line-height: 31px;
}

.nav .w .dropdown .dd li:hover {
    background-color: white;
}

.nav .w .dropdown .dd li:hover a {
    color: #c81623;
}

.nav .w .dropdown .dd li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    font-family: 'icomoon';
    font-size: 14px;
    content: "\e920";
    color: white;
}

.nav .w .dropdown .dd li a {
    color: #ffffff;
}

.nav .w .navitems {
    float: left;
}

.nav .w .navitems ul {
    height: 45px;
}

.nav .w .navitems ul li {
    float: left;
}

.nav .w .navitems ul li a {
    display: block;
    padding: 0 21px;
    height: 45px;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 45px;
}

.nav .w .navitems ul li .asas {
    display: block;
    padding: 0 21px;
    padding-left: 42px;
    height: 45px;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 45px;
}

.nav .w .navitems ul li a:hover {
    background-color: #b1191a;
    color: white;
}

footer {
    height: 417px;
    background-color: #f5f5f5;
}

footer .w ul {
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #ededed;
}

footer .w li {
    float: left;
    margin-top: 30px;
    margin-right: 63px;
    width: 168px;
    height: 50px;
}

footer .w .first {
    margin-left: 36px;
}

footer .w li .img {
    float: left;
    margin-right: 7px;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -253px -2px;
}

footer .w li .text {
    float: left;
    width: 108px;
    height: 50px;
    line-height: 16px;
}

footer .w li .text h1 {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

footer .w li .text p {
    margin-top: 8px;
    font-size: 12px;
    color: #666666;
}

footer .w .help {
    width: 100%;
    height: 188px;
    border-bottom: 1px solid #ededed;
}

footer .w .help dl {
    float: left;
    margin-left: 120px;
}

footer .w .help dl:first-child {
    margin-left: 50px;
}

footer .w .help dt {
    margin-bottom: 18px;
    margin-top: 21px;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    line-height: 100%;
}

footer .w .help dd {
    margin-bottom: 8px;
    line-height: 100%;
}

footer .w .help dd a {
    line-height: 100%;
}

footer .w .help dd img {
    width: 95px;
    height: 95px;
}

footer .w .help dl:last-child {
    text-align: center;
}

footer .w .help dd p {
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;

}

footer .w .dress .top {
    margin-left: 86px;
    margin-top: 20px;
    line-height: 100%;
}

footer .w .dress .top a {
    margin: 0 15px;
}

footer .w .dress .bottom p {
    margin-top: 16px;
    text-align: center;
    line-height: 100%;
}