* {
    padding: 0;
    margin: 0;
}

.head {
    height: 102px;
    background-color: #f3f5f7;
}

.head:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.w {
    width: 1200px;
    margin: 0 360px;
}

.head .w .img {
    float: left;
    margin: 30px 0;
}

.head .w .nav {
    float: left;
    height: 100%;
    margin-left: 70px;
    padding-left: 7px;
}

.head .w .nav .li {
    float: left;
    line-height: 102px;
    list-style: none;
}

.head .w .nav .li2 {
    margin-left: 42px;
}

.head .w .nav .li .a {
    float: left;
    height: 70px;
    color: #050505;
    font-size: 18px;
    text-decoration: none;
}

.head .w .nav .li .a:hover {
    border-bottom: 3px solid skyblue;
}

.head .w .search {
    float: left;
    margin-left: 94px;
    margin-top: 31px;
    margin-bottom: 30px;
    width: 413px;
    height: 40px;
}

.head .w .search .kuang {
    float: left;
    width: 361px;
    height: 40px;
    border: 1px solid skyblue;
    border-right: none;
    padding: 0;
    color: #bfbfbf;
    font-size: 14px;
    line-height: 31px;
    text-indent: 21px;
}

.head .w .search .button {
    float: left;
    padding: 0;
    width: 51px;
    height: 41px;
    border: none;
    background-image: url(fa-search.png);
}

.head .w .user {
    float: right;
    width: 118px;
    height: 33px;
    margin-top: 35px;
    margin-bottom: 33px;
}

.head .w .user .username {
    float: right;
    padding-top: 5px;
    margin-right: 15px;
    font-size: 14px;
    color: #666666;
}

/* banner */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .center {
    margin: 0 auto;
    width: 1200px;
    height: 420px;
    background: url(banner2.png) no-repeat top center;
}

.banner .center .subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .center .subnav .li {
    float: left;
    margin: 0 20px;
    width: 149px;
    height: 45px;
    line-height: 45px;
    list-style: none;
}

.banner .center .subnav .li a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.banner .center .subnav .li a:hover {
    color: skyblue;
}

.banner .center .subnav .li span {
    float: right;
}

.banner .center .course {
    float: right;
    margin: 50px 0;
    width: 228px;
    height: 300px;
    background-color: aqua;
}

.banner .center .course h2 {
    width: 231px;
    height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    color: #ffffff;
}

.banner .center .course .li2 {
    width: 231px;
    height: 252px;
    padding: 0 0;
    background-color: #ffffff;
    list-style: none;
}

.banner .center .course .li2 li {
    float: left;
    margin-left: 18px;
    padding: 12px 0;
    padding-right: 20px;
    width: 163px;
    border-bottom: 1px solid skyblue;
}

.banner .center .course .li2 li h3 {
    font-size: 15px;
    color: #4e4e4e;
}

.banner .center .course .li2 li p {
    font-size: 12px;
    color: #a5a5a5;
}

.banner .center .course .li2 a {
    float: left;
    margin: 5px 14px;
    width: 200px;
    height: 41px;
    border: 1px solid skyblue;
    text-align: center;
    line-height: 41px;
    font-size: 16px;
    color: #00a4ff;
    text-decoration: none;
}

/* 精品推荐 */
.goods {
    background-color: #ffffff;
    margin-top: 8px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.goods .title {
    float: left;
    margin-left: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 34px;
}

.goods ul li {
    float: left;
    text-align: center;
    list-style: none;
}

.goods ul li a {
    border-left: 1px solid skyblue;
    padding: 0 34px;
    font-size: 16px;
    color: #050505;
    text-decoration: none;
}

.goods h5 {
    float: right;
    margin-right: 26px;
}

.goods h5 a {
    font-size: 14px;
    color: #00a4ff;
    text-decoration: none;
}

.box {
    margin-top: 30px;
    height: 595px;
}

.box .box-hd {
    height: 40px;
}

.box .box-hd .title {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd span {
    float: right;
    margin-right: 35px;
}

.box .box-hd span a {
    font-size: 12px;
    color: #a5a5a5;
    text-decoration: none;
    line-height: 40px;
}

.box .box-bd li {
    position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    list-style: none;
}

.box .box-bd li>img {
    width: 228px;
}

.box .box-bd li em img {
    position: absolute;
    top: 4px;
    left: -4px;
}

.box .box-bd li h4 {
    margin: 25px 20px 20px 24px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}

.box .box-bd li .span1 {
    margin-left: 23px;
    font-size: 12px;
    color: #999999;
}

.box .box-bd li .span2 {
    color: #ff7c2d;
}

.end {
    margin-top: 40px;
    height: 417px;
}

.end .w {
    height: 417px;
}

.end .w .left {
    float: left;
}

.end .w .left img {
    margin-top: 33px;
}

.end .w .left p {
    margin-top: 25px;
    font-size: 12px;
    color: #666666;
}

.end .w .left a {
    display: block;
    margin-top: 15px;
    width: 120px;
    height: 36px;
    border: 1px solid skyblue;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

.end .w .right {
    float: right;
    margin-top: 34px;
}

.end .w .right .dl3,
.dl2,
.dl1 {
    margin-left: 123px;
    float: right;
}

.end .w .right dt {
    margin-bottom: 14px;
    font-size: 16px;
    color: #333333;
}

.end .w .right dd {
    font-size: 12px;
    color: #333333;
}